html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 320px;
  color: var(--text-color, #FFFFFF); /* цвет текста */
  background-color: var(--bg-color, #1B1A1B); /* цвет сайта */
  font-family: Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

blockquote {
  margin: 0;
}
/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    min-width: 1024px;
    max-width: 1440px;
    padding: 0 60px;
  }

  .title {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    min-width: 768px;
    max-width: 1023px;
    padding: 0 40px;
  }

  .title {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .container {
    min-width: 280px;
    max-width: 767px;
    padding: 0 20px;
  }

  .title {
    font-size: 14px;
  }
}
