:root {
  --text-color: #FFFFFF;
  --white-color: #FFFFFF;
  --bg-color: #1B1A1B;
  --very-dark-magenta: #440F51;
  --dark-magenta: #6C0287;
  --dark-magenta-light: #840aa3;
  --vivid-magenta: #CD06FF;
  --text-vivid-magenta: #CD06FF;
  --light-magenta: #EADEED;
  --text-light-magenta: #EADEED;
  --dark-violet: #640aa3;
}
