.contacts {
  padding: 50px 0 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__items {
  max-width: 340px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  font-style: normal;
}

.contacts__item--address {
  margin-bottom: 39px;
}

.contacts__item {
  display: inline-block;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__item--link {
  margin-bottom: 11px;
}

.contacts__item--image-location {
  background: url(../contacts/img/icon-location.svg) no-repeat left;
  padding-left: 65px;
}

.contacts__item--image-phone {
  background: url(../contacts/img/icon-phone.svg) no-repeat left;
  padding-left: 65px;
}

.contacts__item--image-mail {
  background: url(../contacts/img/icon-envelope.svg) no-repeat left;
  padding-left: 65px;
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.footer__text:not(:last-child) {
  margin-bottom: 6px;
}