.faq__list {
  margin: 0;
  padding: 0;
}

.faq__item {
  position: relative;
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
  list-style: none;
}

.faq__item:after {
  position: absolute;
  content: '';
  width: 46px;
  height: 46px;
  background: url("img/open-purple.svg") no-repeat center / contain;
  right: 60px;
  top: 20px;
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__item:nth-of-type(even) {
  background-color: #440F51;
  color: #FFFFFF;
}

.faq__item:nth-of-type(even):after {
  background: url("img/open.svg") no-repeat center / contain;
}
