.faq__list {
  margin: 0;
  padding: 0;
}

.faq__item {
  position: relative;
  display:flow-root;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
  list-style: none;
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__item--background--white {
  background-color: #fff;
  color: #1C1A1A;
}

.faq__item--background--purple {
  background-color: #440F51;
  color: #FFFFFF;
}

.faq__text {
  position: relative;
  display: block;
  line-height: 46px;
}

.faq__text--color--graphite::after, .faq__text--color--white::after {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: middle;
  right: 0;
  width: 46px;
  height: 46px;
}

.faq__text--color--graphite::after {
  background: url("img/open-purple.svg") no-repeat center / contain;
}

.faq__text--color--white::after {

  background: url("img/open.svg") no-repeat center / contain;
}
