.functional {
  padding: 50px 0 120px;
  text-align: center;
}

.functional__title {
  width: 880px;
  /* margin: 0 auto; */
  display: inline-block;
}

.functional__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.functional__item {
  flex: 0 1 380px;
  min-height: 228px;
  padding: 166px 40px 6px;
  text-align: start;
  transition: scale .2s ease-in;
}

.functional__item:nth-child(3n + 2) {
  transform: translateY(70px);
}

.functional__item:hover {
  scale: 110%;
}

.functional__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.functional__item--vr {
  background: url("img/vr.jpg") no-repeat center / cover;
}

.functional__item--audio {
  background: url("img/audio.jpg") no-repeat center / cover;
}

.functional__item--micro {
  background: url("img/micro.jpg") no-repeat center / cover;
}

.functional__item--game {
  background: url("img/game.jpg") no-repeat center / cover;
}

.functional__item--netflix {
  background: url("img/netflix.jpg") no-repeat center / cover;
}

.functional__item--sony {
  background: url("img/sony.jpg") no-repeat center / cover;
}