.about__content {
  display: inline-block;
  width: 500px;
  vertical-align: top;
}

.about__img {
  width: 600px;
  margin-right: 75px;
  font-size: 0;
  vertical-align: top;
}

.about__content-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

.about__content-text:last-child {
  margin-bottom: 0;
}

.about__blockquote {
  padding-left: 31px;
  margin: 0;
}

.about__blockquote-text {
  position: relative;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 42px;
  max-width: 425px;
}

.about__blockquote-text:before {
  position: absolute;
  content: "“";
  color: #6C0287;
  font-size: 44px;
  font-weight: 900;
  line-height: 50px;
  top: -11px;
  left: -31px
}

.about__blockquote-text:after {
  content: "“";
  display: inline-block;
  color: #6C0287;
  font-size: 44px;
  font-weight: 900;
  line-height: 20px;
  transform: rotate(180deg);
  vertical-align: top;
}

.about__cite {
  display: block;
  margin: 0 0 0 auto;
  text-align: right;
}

.about__cite-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: 0 -10px;
  border-radius: 50%;

}

.about__cite-text {
  display: inline-block;
  vertical-align: middle;
  max-width: 269px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  text-align: left;
}
