.about {
  padding: 50px 0;
}

.about__content {
  display: inline-block;
  width: 500px;
  vertical-align: top;
}

.about__img {
  width: calc(600 / 1180 * 100%);
  margin-right: 75px;
  font-size: 0;
  vertical-align: top;
}

.about__content-wrap {
  margin-bottom: 59px;
}

.about__content-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

.about__content-text:last-child {
  
  margin-bottom: 0;
}

.about__blockquote {
  display: flow-root;
  margin: 0;
}

.about__blockquote >:last-child {
  float: right;
}

.about__blockquote-text {
  position: relative;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 42px;
  max-width: 425px;
  padding: 0 0 0 30px;
}

.about__blockquote-text:before {
  position: absolute;
  content: "“";
  color: var(--dark-magenta, #6C0287);
  font-size: 44px;
  font-weight: 900;
  line-height: 50px;
  top: -11px;
  left: 0;
}

.about__blockquote-text:after {
  content: " ”";
  color: var(--dark-magenta, #6C0287);
  font-size: 44px;
  font-weight: 900;
}

.about__cite {
  display: inline-block;
  /* margin: 0 0 0 auto;
  text-align: right; */
}

.about__cite-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: 0 -10px;
  border-radius: 50%;

}

.about__cite-text {
  display: inline-block;
  vertical-align: middle;
  max-width: 269px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  text-align: left;
}
