.about {
  padding: 50px 0;
}

.about__title {
  margin-bottom: 47px;
}

.about__wrap {
  display: grid;
  grid-template-columns: minmax(600px, 1fr) minmax(500px, 1fr);
  grid-template-areas: 
    "img text"
    "img cite";
    gap: 57px 80px;
}

.about__img {
  width: calc(600 / 600* 100%);
  grid-area: img;
}

.about__content-wrap {
  grid-area: text;
}

.about__content-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 28px;
}

.about__content-text:last-child {
  margin-bottom: 0;
}

.about__blockquote {
  display: flex;
  flex-direction: column;
  grid-area: cite;
}

.about__cite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.about__blockquote-text {
  position: relative;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.13;
  text-transform: uppercase;
  margin-bottom: 31px;
  max-width: 425px;
  padding: 0 0 0 30px;
}

.about__blockquote-text:before {
  position: absolute;
  content: "“";
  color: var(--dark-magenta, #6C0287);
  font-size: 44px;
  font-weight: 900;
  line-height: 50px;
  top: -11px;
  left: 0;
}

.about__blockquote-text:after {
  content: " ”";
  color: var(--dark-magenta, #6C0287);
  font-size: 44px;
  font-weight: 900;
}

.about__cite-img {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: 0 -10px;
  border-radius: 50%;

}

.about__cite-text {
  max-width: 279px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  font-style: normal;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .about {
    padding: 35px 0;
  }

  .about__title {
    line-height: 1.34;
    margin-bottom: 26px;
  }

  .about__wrap {
    display: grid;
    grid-template-columns: minmax(420px, 1fr) minmax(444px, 1fr);
    grid-template-areas: 
      "img text"
      "img cite";
      gap: 41px 40px;
  }
  
  
  .about__img {
    width: calc(420 / 420 * 100%);
  }

  .about__content-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.34;
    margin-bottom: 23px;
  }

  .about__blockquote {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .about__cite {
    gap: 35px;
  }

  .about__cite-img {
    width: 70px;
    height: 70px;
  }

  .about__cite-text {
    font-size: 18px;
    line-height: 1.4;
    flex: 0 0 225px;
  }

  .about__blockquote-text {
    font-size: 30px;
    line-height: 1.16;
    margin-bottom: 20px;
    padding: 0 0 0 25px;
  }

  .about__blockquote-text:before {
    font-size: 30px;
    line-height: 1.2;
    top: -11px;
    left: 0;
  }

  .about__blockquote-text:after {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about {
    padding: 30px 0;
  }

  .about__wrap {
    display: grid;
    grid-template-columns: minmax(382px, 1fr) minmax(278px, 1fr);
    grid-template-areas: 
      "img text"
      "cite cite";
      gap: 41px 28px;
  }

  .about__content-wrap {
    grid-area: text;
    align-self: center
  }

  .about__content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .about__title {
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .about__img {
    width: calc(382 / 382 * 100%);
  }

  .about__blockquote-text {
    font-size: 32px;
    line-height: 1.13;
    margin-bottom: 24px;
    max-width: unset;
    padding: 0 0 0 22px;
  }

  .about__blockquote-text:before {
    font-size: 32px;
    line-height: 1.13;
    top: -10px;
    left: 0;
  }

  .about__blockquote-text:after {
    font-size: 32px;
  }

  .about__cite {
    gap: 25px;
  }

  .about__cite-text {
    font-size: 18px;
    line-height: 1.4;
    max-width: 225px;
  }

  .about__cite-img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 767px) {
  .about {
    padding: 15px 0;
  }

  .about__title {
    line-height: 1.29;
    margin-bottom: 15px;
  }

  .about__wrap {
    display: grid;
    grid-template-columns: minmax(280px, 1fr);
    grid-template-areas: 
      "text text"
      "img img"
      "cite cite";
      gap: 14px 0;
  }

  .about__img {
    width: calc(280 / 280 * 100%);
  }

  .about__content-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.34;
    margin-bottom: 16px;
  }

  .about__blockquote-text {
    font-size: 18px;
    line-height: 1.45;
    margin-bottom: 9px;
    padding: 8px 0 0 15px;
  }

  .about__blockquote-text:before {
    font-size: 22px;
    line-height: 2.27;
    top: -11px;
    left: 0;
  }

  .about__blockquote-text:after {
    font-size: 18px;
    line-height: 1.45;
  }

  .about__cite {
    gap: 11px;
    justify-content: flex-start;
  }

  .about__cite-img {
    width: 56px;
    height: 56px;
  }

  .about__cite-text {
    max-width: 200px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.34;
  }
}
