.social {
  display: inline-block;
  vertical-align: middle;
}

.social__list {
  font-size: 0;
}

.social__item {
  display: inline-block;
  margin-right: 28px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__img {
  height: 50px;
  width: 50px;
}

.social__link {
  display: block;
}