.halls__item {
  position: relative;
  height: 710px;
  margin-bottom: 60px;
}

.halls__item:last-child {
  margin-bottom: 0;
}

.halls__item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.halls__item--80s-vibes {
  background: #1B1A1B url("img/vibes-bg.jpg") no-repeat center / cover;
}

.halls__item--star-wars {
  background: #1B1A1B url("img/star-wars-bg.jpg") no-repeat center / cover;
}

.halls__item--wild-west {
  background: #1B1A1B url("img/wild-west-bg.jpg") no-repeat center / cover;
}

.halls__item--neon-style {
  background: #1B1A1B url("img/neon-style-bg.jpg") no-repeat center / cover;
}

.halls__img {
  display: block;
}
