.halls {
  padding: 50px 0 100px;
}

.halls__title {
  margin-bottom: 40px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__item {
  position: relative;
  float: left;
  width: calc(50% - 10px);
  text-align: center;
  padding: calc(135 / 1180 * 100%) 0;
}

.halls__item-link {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
}

.halls__item-link::after {
  position: absolute;
  content: "";
  inset: 0;
  transition: background-color .2s ease-in;
}

.halls__item-link:hover::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.halls__item--theme--80s-vibes {
  background: #1B1A1B url("img/vibes-bg.jpg") no-repeat center / cover;
}

.halls__item--theme--star-wars {
  background: #1B1A1B url("img/star-wars-bg.jpg") no-repeat center / cover;
}

.halls__item--theme--wild-west {
  background: #1B1A1B url("img/wild-west-bg.jpg") no-repeat center / cover;
}

.halls__item--theme--neon-style {
  background: #1B1A1B url("img/neon-style-bg.jpg") no-repeat center / cover;
}

.halls__img {
  display: block;
}
