.halls {
  padding: 50px 0;
}

.halls__title {
  margin-bottom: 40px;
}

.halls__list {
  display: flow-root;
}

.halls__item {
  float: left;
  width: calc(50% - 10px);
  text-align: center;
  padding: calc(135 / 1180 * 100%) 0;
  margin: 0 20px 20px 0;
}

.halls__item:nth-child(even) {
  float: right;
  margin-right: 0;
}

.halls__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.halls__item-text {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
}

.halls__item--theme--80s-vibes {
  background: #1B1A1B url("img/vibes-bg.jpg") no-repeat center / cover;
}

.halls__item--theme--star-wars {
  background: #1B1A1B url("img/star-wars-bg.jpg") no-repeat center / cover;
}

.halls__item--theme--wild-west {
  background: #1B1A1B url("img/wild-west-bg.jpg") no-repeat center / cover;
}

.halls__item--theme--neon-style {
  background: #1B1A1B url("img/neon-style-bg.jpg") no-repeat center / cover;
}

.halls__img {
  display: block;
}
